
@import '~antd/dist/antd.css';


#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 30px;
}

.site-layout .site-layout-background {
 
  background: #fff;

  
}

.label-name.label{

  font-size: 18px;
}













.blog-post_display {
  border: 1px solid lightgrey;
  margin: 2.5px 0px;
  border-radius: 4px;
  padding: 1px;
  font-size: 10;
}


.blog-postSub_display {
  border: 1px solid lightgrey;
  margin: 2.5px 0px;
  border-radius: 4px;
  padding: 1px;
  font-size: 10;
}









.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
